*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/* BODY */

body{
    background: #ffffff;
    font-family: "Inter", sans-serif;
    transition: background 0.35s ease;
}

body.dark{
    background: #171717;
}

/* NAVBAR */

.navbarLight{
    width: 100%;
    padding: 1.25rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
}

/* LEFT */

.logo img{
    width: 2rem;
    height: 2rem;

    object-fit: contain;
}

/* CENTER */

.navMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuWrapper{
    position: relative;
}

/* MENU BUTTON */

.menuBtn{
    height: 2.375rem;

    padding: 0.4rem 0.6rem;

    border: none;
    border-radius: 999px;

    background: #171717;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    cursor: pointer;

    position: relative;
    z-index: 10;

    white-space: nowrap;

    transition: background 0.35s ease;
}

body.dark .menuBtn{
    background: #2A2A2A;
}

/* MENU ICON */

.menuIcon{
    width: 1rem;
    height: 0.8rem;

    position: relative;

    flex-shrink: 0;
}

.menuLine{
    position: absolute;
    left: 0;

    width: 100%;
    height: 1.5px;

    background: #F8F8F8;
    border-radius: 999px;

    transition: all 0.3s ease;
}

.menuLine.top{
    top: 0.1rem;
}

.menuLine.bottom{
    bottom: 0.1rem;
}

/* MENU TEXT */

.menuText{
    color: #F8F8F8;

    font-size: 0.85rem;
    font-weight: 400;

    flex-shrink: 0;
}

/* DIVIDER */

.divider{
    width: 1px;
    height: 1rem;

    background: rgba(255,255,255,0.15);

    flex-shrink: 0;
}

/* RIGHT SIDE */

.scrollWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;

    flex-shrink: 0;
}

/* THEME ICON */

.themeIcon{
    width: 1.6rem;
    height: 1.6rem;

    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.25px solid rgba(255,255,255,0.35);

    cursor: pointer;

    position: relative;

    overflow: hidden;

    flex-shrink: 0;
}

/* ICONS */

.iconImg{
    width: 0.9rem;
    height: 0.9rem;

    position: absolute;

    transition:
      opacity 0.35s ease,
      transform 0.4s ease;
}

/* LIGHT MODE */

.sunImg{
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.moonImg{
    opacity: 0;
    transform: rotate(-90deg) scale(0.4);
}

/* DARK MODE */

body.dark .sunImg{
    opacity: 0;
    transform: rotate(90deg) scale(0.4);
}

body.dark .moonImg{
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

/* SCROLL */

.scrollTrack{
    width: 3.3rem;
    height: 1.6rem;

    border-radius: 999px;

    background: #696969;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    flex-shrink: 0;
}

body.dark .scrollTrack{
    background: #444444;
}

.scrollFill{
    position: absolute;

    left: 0;
    top: 0;

    width: 0%;
    height: 100%;

    background: #9f9f9f;

    transition: width 0.2s linear;
}

body.dark .scrollFill{
    background: #8E8E8E;
}

.scrollText{
    position: relative;
    z-index: 2;

    color: #FFFFFF;

    font-size: 0.72rem;
    font-weight: 400;
}

/* DROPDOWN */

.dropdownMenu{
    position: absolute;

    top: -0.35rem;
    left: 50%;

    transform: translateX(-50%) translateY(-10px);

    width: 13.4rem;

    padding: 4rem 1.4rem 1.4rem 1.4rem;

    border-radius: 2rem;

    background: #D9D9D9;

    display: flex;
    flex-direction: column;
    gap: 0.45rem;

    opacity: 0;
    visibility: hidden;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      background 0.35s ease;
}

body.dark .dropdownMenu{
    background: #222222;
}

.menuWrapper.active .dropdownMenu{
    opacity: 1;
    visibility: visible;

    transform: translateX(-50%) translateY(0);
}

/* LABEL */

.dropdownLabel{
    color: #777777;

    font-size: 0.625rem;
    font-weight: 400;

    letter-spacing: 0.01875rem;

    margin-bottom: 0.2rem;
}

/* LINKS */

.dropdownMenu a{
    text-decoration: none;

    color: #171717;

    font-size: 1.125rem;
    font-weight: 500;

    letter-spacing: 0.03375rem;

    transition: opacity 0.2s ease;
}

body.dark .dropdownMenu a{
    color: #F8F8F8;
}

.dropdownMenu a:hover{
    opacity: 0.6;
}

/* CONTACT BUTTON */

.contactBtn a{
    color: #F8F8F8;
    text-decoration: none;

}

.contactBtn {
    width: 6.25rem;
    height: 2.375rem;

    border: none;
    border-radius: 999px;


    font-size: 0.8rem;
    font-weight: 400;
    background: #171717;

    cursor: pointer;

    position: relative;
    overflow: hidden;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    transition: background 0.35s ease;
}

body.dark .contactBtn{
    background: #2A2A2A;
}

/* TEXT */

.contactBtn span{
    display: block;

    transition:
      transform .325s cubic-bezier(0.66, 0, 0.34, 1);
}


.hero{
    width: 100%;
    padding: 6rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img{
    max-width: 90rem;
    height: auto;
    display: block;
}


.bodyText{
  width: min(90%, 48rem);

  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.bodySolu{
  width: min(90%, 61.875rem);

  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.bodyTop p{
  color: #A6A6A6;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1rem;
}

.bodySop p{
  color: #A6A6A6;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1rem;
}




.h1{
  color: #323232;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.bodyTop .bodySop{
  padding-top: 1rem;
}

.bodyBtm{
  margin-top: 6rem;

}

.bodyBtm img {
max-width: 68rem;
height: auto;

}


.bodyBtm p{
    width :48rem;
  color: #323232;
font-family: Inter;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem; /* 138.889% */
border-top: 0.0625rem solid #BCBCBC;
border-bottom: 0.0625rem solid #BCBCBC;
padding: 3.19rem 0;
}

.sale{
    display:flex;
    flex-direction:column;
    align-items:center;

    margin:6rem 0;
}

.sale img{
    max-width: 65rem;
height:auto;
    margin:0;
}

.sale video{
    max-width:100%;
    height:auto;

    margin:0;
}

.sale video{
    width:400px;
    margin-top:5rem;
}


.bodyLeft{
    flex-shrink:0;
    width:22rem;
}

.bodyRight{
        flex-shrink:0;
    max-width:32.5rem;
}

.bodyLeft p{
color: #A6A6A6;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1rem;
}

.bodyLeft h1{
color: #323232;
font-family: Inter;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.bodyRight h1{
color: #323232;
font-family: Inter;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 1.5625rem; /* 138.889% */
padding-bottom: 1rem;
}

.bodyRight p{
color: #323232;
font-family: Inter;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.75rem;

}

.bodyRight span{
color: #323232;
font-family: Inter;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 1.75rem; /* 155.556% */
}

.bodyProject{
    width: min(90%, 61.875rem);
    gap: 3rem;
    margin: 8rem auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.projectSection{
    width: min(90%, 62rem);
    margin: 6rem auto 0;
}

.projectTitle{
    color: #323232;
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.projectImage{
    width: 100vw;
    max-width: 65.5rem;

    position: relative;
    left: 50%;
    transform: translateX(-40%);
}

.projectCaption{
    margin-top: 1.5rem;

color: #323232;
text-align: center;
font-family: Inter;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 1.5625rem; /* 138.889% */
}

.projectHeader{
    width: min(90%, 65.5rem);

    margin: 8rem auto 5rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6rem;
}

.projectHeader h1{
    flex: 1;

    color: #323232;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
}

.projectHeader p{
    flex: 1;
    max-width: 28rem;

    color: #323232;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

/* =========================
   SHARED CONTENT COLUMN
========================= */

.contentColumn{
    width: min(90%, 61.875rem);
    margin: 0 auto;
}

/* =========================
   GENERIC SECTION TITLE
========================= */

.sectionHeading{
    color:#323232;
    font-size:1.875rem;
    font-weight:700;
    line-height:1.2;

    margin:8rem 0 3rem;
}

/* =========================
   WIDE IMAGE SECTION
========================= */

.imageSection{
    width:100%;

    display:flex;
    justify-content:center;
    margin-left:5.5rem;
    margin-bottom:1.5rem;
}

.imageSection img{
    width:100%;
    max-width:83.75rem;
    height:auto;
    display:block;
}

/* =========================
   CAPTION
========================= */

.sectionCaption{
    text-align:center;

    color:#323232;
    font-size:1.125rem;
    font-weight:600;
    line-height:1.5;

    margin-bottom:8rem;
}

/* =========================
   SECTION 3 HEADER
========================= */

.splitHeader{
display: flex;
width: 59.8125rem;
align-items: flex-start;
gap: 7.25rem;
    margin:8rem 0 5rem;
}

.splitHeader h1{
    color:#323232;
    font-size:1.875rem;
    font-weight:700;
    line-height:1.2;
}

.splitHeader p{
    max-width: 25.6875rem;

    color: #323232;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 138.889% */
}

/* =========================
   REFLECTION
========================= */

.reflection{
display: flex;
width: 61.875rem;
justify-content: space-between;
align-items: flex-start;

    margin:8rem auto;
}

.reflectionLeft{
    max-width:24rem;
    flex-shrink: 0;
}

.reflectionLeft p{
color: #A6A6A6;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;;

    margin-bottom:0.5rem;
}

.reflectionLeft h1{
color: #323232;
font-family: Inter;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.reflectionRight{

}

.reflectionRight p{
color: #323232;
font-family: Inter;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem; /* 138.889% */
    width: 32.875rem;
flex-shrink: 0;
}

.vid{
    width: 100%;
    max-width: 90rem;

    margin: 0 auto;

    padding: 6rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #F5F5F5;
    height: 48.75rem;
}

.vid video{
    width: 100%;
    max-width: 50rem;
    height: auto;

    display: block;
}



/* FOOTER */

.footer{
    background: #171717;
    position: relative;
    overflow: hidden;
    height: 420px;
    padding: 20px 20px 0 20px;
}

.logo{
    display: inline-flex;
    transform-origin: center;
    will-change: transform;
}

.logo:hover{
    animation: logoSpin 1s cubic-bezier(0.16,1,0.3,1);
}

@keyframes logoSpin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.foot-top .logo {
    margin-left: auto;
    padding-right: 0.6rem;
}
/* FOOTER TOP */

.foot-top{
    display: flex;
    align-items: center;
    gap: 20px;
}

.foot-top p{
    color: #F8F8F8;

    font-size: 13px;
    font-weight: 400;

    letter-spacing: 0.2px;
}

.foot-top a{
    color: #F8F8F8;
    text-decoration: none;

    font-size: 13px;
    font-weight: 500;

    letter-spacing: 0.8px;

    position: relative;
    overflow: hidden;

    display: inline-block;

    transition: color 0.3s ease;
}

.foot-top a > span{
    display: block;

    transition:
      transform .325s cubic-bezier(0.66, 0, 0.34, 1);
}

.foot-top a:hover > span{
    transform: translateY(-100%);
}

.foot-top a > span:last-child{
    position: absolute;

    top: 100%;
    left: 0;
}

/* FOOTER BOTTOM */

.foot-btm{
    position: absolute;

    bottom: 36px;
    left: 1.25rem;
}

.foot-btm p{
    color: #F8F8F8;

    font-size: 13px;
    font-weight: 400;
}

/* FOOTER NAME */

.foot-name{
    position: absolute;

    bottom: 11px;
    right: 1.25rem;

    overflow: hidden;

    display: inline-block;

    cursor: pointer;
}

.foot-name a{
    color: #F8F8F8;
    text-decoration: none;

    font-size: 280px;
    font-weight: 600;

    letter-spacing: -12px;

    display: block;
    position: relative;

    line-height: 0.9;
}

.foot-name a > span{
    display: block;

    transition:
      transform .325s cubic-bezier(0.66, 0, 0.34, 1);
}

.foot-name a:hover > span{
    transform: translateY(-100%);
}

.foot-name a > span:last-child{
    position: absolute;

    top: 100%;
    left: 0;
}

